"system map <esc> = cap/lock

" 设置leader
let mapleader=" "

" 查找的时候每次输入都会不断查找
set incsearch
" 显示当前的模式
set showmode
set smartcase
set scrolloff=3
set smartindent
set ideajoin
" vim 和 剪切版互通
set clipboard+=unnamed
" 开启输入法自动切换功能
set keep-english-in-normal


" 修改高光
set highlightedyank
set ideamarks
set idearefactormode=keep

let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"
let g:highlightedyank_highlight_duration = "1000"


" 插件模拟
set surround
set multiple-cursors

" uhjk 上下左右
noremap <C-u> u
noremap u kzz
noremap j jzz
noremap k lzz
noremap h hzz
noremap L <Nop>
noremap l <Nop>
noremap G Gzz


" 快速检索
noremap U 5kzz
noremap J 5jzz
noremap K 5lzz
noremap H 5hzz

" cap/lock 自由切换 insert/normal
nmap <Esc> a

" better end
noremap - $

noremap / :set hlsearch<CR>/
noremap <Leader>/ :set nohlsearch<CR>


" leader
" 分开屏幕
noremap <Leader>d :vsplit<CR>
noremap <Leader>s :w<CR>:source ~/.ideavimrc<CR>
noremap <Leader>e :e ~/.ideavimrc<CR>
noremap <Leader>p :e ~/.zshrc<CR>
noremap <Leader>q :wq<CR>
noremap <Leader>z :action ToggleZenMode<CR>
nnoremap <Leader>nb :set relativenumber!<CR>



" action
noremap gr :action Git.ResolveConflicts<CR>
" git blame
noremap gb :action Annotate<CR>
noremap gc :action ActivateCommitToolWindow<CR>
" 自己的插件
noremap ga :action com.github.xiantang.airplugin.action.AirAttachToProcessAction<CR>
noremap gs :action Stop<CR>
noremap gr :action Run<CR>

" 文档
noremap <C-j> :action QuickJavaDoc<CR>
noremap <Leader>fs :action FileStructurePopup<CR>
noremap ge :action GotoNextError<CR>
noremap gr :action  Git.ResolveConflicts<CR>
noremap gu :action FindUsages<CR>
noremap <Leader>h :action HideActiveWindow<CR>
noremap <Leader>al :actionlist<CR>
noremap <Leader>c :action CollapseAllRegions<CR>
noremap <Leader>r :action RenameElement<CR>
noremap <Leader>o :action ExpandAllRegions<CR>

" insert mode
" 插入模式撤回
inoremap <C-u> <Esc>:action $Undo<CR>

